* {
    margin: 0;
    padding: 0;
}

#nav {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: lightpink;
}

#swiper {
    width: 100%;
    height: 400px;
    background: #042a73
}
#swiper img{
    width: 100%;
    height: 500px;
}


#CreditTop {
    width: 100%;
    height: 800px;
    margin-top: 100px;
    background: #fafafc;
}

#CreditTopText {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    /*background: lightpink;*/
}

#CreditTopButton {
    width: 600px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    text-align: center;
    /*background: lightblue;*/
}

#CreditTopButton div {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    line-height: 50px;
    /*background: lightgreen;*/
}


#CreditTopContant {
    width: 1200px;
    height: 300px;
    margin: 30px auto;
    display: flex;
    /*background: lightsalmon;*/
}
#CreditTopContant img {
    width: 500px;
    height: 300px;
}

#CreditTopContant div div {
    width: 500px;
    height: 300px;
    float: left;
    /*background: lightpink;*/
}

#CreditTopContant div div ~ div {
    width: 600px;
    height: 300px;
    float: right;
    /*background: lightgreen;*/
}

#Contant1 {
    width: 1200px;
    height: 300px;
    background: white;
    display: inline-block;
}

#Contant2 {
    width: 1200px;
    height: 300px;
    background: white;
    display: none;
}

#Contant3 {
    width: 1200px;
    height: 300px;
    background: white;
    display: none;
}
#Contant4 {
    width: 1200px;
    height: 300px;
    background: white;
    display: none;
}
#CreditUnder {
    width: 100%;
    height: 800px;
}

#CreditUnderText {
    width: 500px;
    height: 150px;
    margin: 50px auto;
    text-align: center;
    /*background: lightpink;*/
}
#CreditUnderContant{
    width: 1200px;
    height: 600px;
    margin:  100px auto;
    position: relative;
    /*background: lightblue;*/
}
#CreditUnderContantLeft{
    width: 700px;
    height: 550px;
    /*margin-top: 80px;*/
    background: #888888;
}
#CreditUnderContantLeft img{
    width: 700px;
    height: 550px;

}
#CreditUnderContantRight{
    width: 600px;
    height: 400px;
    box-shadow: 0 0 20px gray;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1;
    background: white;
}
#CreditUnderContantRight img{
    width: 600px;
    height: 400px;
}
#CreditUnderContantRight:hover{
transform: scale(1.03);
    transition: all 0.5s;
}
#footer {
    width: 100%;
    height: 80px;
    margin-top: 150px;
    text-align: center;
    line-height: 80px;
    color: #ebebeb;
    background: #042a73;
}

#goBack {
    width: 78px;
    height: 78px;
    position: fixed;
    bottom: 100px;
    right: 0;
}








