p, h1, div, img, body {
    margin: 0;
    padding: 0
}

.Header {
    height: 70px;
    background: cornflowerblue;
    width: 1200px;
    margin: 0 auto;
}

.swiper-container{
    margin: 0 auto;
    background: #4a82e5;
    height: 500px;
    width: 100%;
}

.swiper-slide img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.second {
    width: 100%;
    height: 50px;
    background: #4a82e5;
    margin: 0 auto;
}

.second-one {
    width: 1200px;
    height: 50px;
    background: #4a82e5;
    margin: 0 auto;
}

.second-one .left {
    width: 150px;
    height: 50px;
    /*background: cornflowerblue;*/
    float: left;
    margin-left: 50px;
    font-size: 24px;
    color: white;
    line-height: 50px;
}

.second-one .right {
    width: 150px;
    height: 50px;
    /*background: cornflowerblue;*/
    float: right;
    margin-right: 50px;
    font-size: 18px;
    color: white;
    line-height: 50px;
}

.second-one .center {
    float: right;
    margin-right: -105px;
    margin-top: 7px;
}

.third {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    /*background: aqua;*/
    padding-top: 70px;
}

.third-one {
    font-size: 24px;
    color: #0701aa;
    text-align: center;
}

.third-two {
    font-size: 16px;
    color: rgba(0, 4, 134, 0.9);
  text-align:center;
    margin: 0 auto;
}

.third hr {
    border: 0.5px rgba(1, 15, 88, 0.9) solid;
    width: 600px;
}

.third .third-three {
    width: 1000px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /*background: springgreen;*/

}

.third .third-three img {
    padding-top: 30px;
    width: 200px;
    height: 200px;
}

.third-four {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /*background: #00c4ff;*/
}

.third-four p {
    /*padding-top: 30px;*/
    width: 200px;
    font-size: 30px;
    color: black;
    font-family: 华文楷体;
    height: 200px;
    text-align: center;
    line-height: 30px;
}

.third-five {
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /*background: #6a07fa;*/
}

.third-five p {
    /*padding-top: 30px;*/
    width: 200px;
    font-size: 18px;
    color: #000000;
    font-family: 华文楷体;
    height: 200px;
    text-align: center;
    line-height: 18px;
    text-align: center;
}

.four {
    width: 100%;
    height:260px;
    /*background: #dbd8d8;*/
}

.four-center {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    /*background: #00c4ff;*/
}

.four-center-one {
    font-size: 24px;
    color: #2600ff;
    width: 96px;
    margin: 0 auto;
}

.four-center hr {
    border: 0.5px rgba(55, 0, 255, 0.9) solid;
    width: 300px;
}

.four-center-two {
    width: 300px;
    font-family: 华文楷体;
    height: 150px;
    font-size: 16px;
    margin: 0 auto;
}
.liuCheng{
    width: 1200px;height: 200px;
    /*background: #ffa500;*/
    margin: 0 auto;
display: flex;justify-content: space-between;
}
.liuCheng-one{
    width: 190px;height: 80px;background: #eeeeee;
    border-radius: 40px;
}
.liuCheng-one p{
    color: #0459f3;text-align: center;line-height: 40px;
    font-size: 18px;
}
.liuCheng:hover p{
    color: white;
}
.liuCheng:hover .liuCheng-one{
    background-color: #3375f5;
}








.five{
    width: 100%;height: 30px;
    background: #ffffff;
    position: fixed;bottom: 0;
}
.five-center{
    width: 500px;margin: 0 auto;height: 100%;margin: 0 auto;
    /*background: #ffa500;*/
}
/*p{text-align: center;color: #959595;font-size: 16px;*/
/*}*/

.six{
    position: fixed;
    bottom: 50px;right: 100px;cursor: pointer;display: none;
}

#goBack {
    width: 78px;
    height: 78px;
    position: fixed;
    bottom: 100px;
    right: 0;
}

#footer {
    width: 100%;
    height: 80px;
    margin-top: 150px;
    text-align: center;
    line-height: 80px;
    color: #ebebeb;
    background: #042a73;
}














