.bar-menu > a {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    color: #fff;
}

.nav-list > li > a {
    color: #fff;
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

.swiper-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    /* background: #042a73;*/
    z-index: -3;
}

.swiper-wrapper {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}

.swiper-slide {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}

.swiper-slide > img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}


.first {
    width: 1200px;
    height:370px;
    /*background: #12adb8;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.first > .first-one {
    width: 350px;
    height: 100%;
    /*background: #da8181;*/
}

.first-one > img {
    width: 272px;
    height: 188px;
    margin-top: 30px;
    margin-left: 40px;
}

.first-two{
    text-align: center;
    color: #014a82;
    font-size: 24px;
    margin: 10px 0;
}

.first-three{
    text-align: center;
    color:  #014a82;
    font-size: 14px;
    width: 260px;margin: 10px auto 0;
}


.news {
    width: 100%;
    height: 600px;
    /*background: lightblue;*/
    margin-top: 50px;
}

.news > .newsBox {
    width: 1200px;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;

}

.news > .newsBox > .title > p {
    text-align: center;
    color: #042a73;
    font-weight: bold;
    font-size: 20px;
}
.news > .newsBox > .title >h2 {
    text-align: center;
    color: #042a73;
    font-weight: bold;
    font-size: 30px;
}
.news > .newsBox > .title > div {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #042a73;
}

.news > .newsBox > .content {
    width: 100%;
    height: 500px;
    /*background: red;*/
    margin: 0 auto;
}

.news > .newsBox > .content > .news-content {
    width: 450px;
    height: 350px;
    /*background: pink;*/
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    padding-top: 20px;
}
.news > .newsBox > .content > .news-content img {
    width: 450px;
    height: 350px;
}
.news > .newsBox > .content > .news-content > p:nth-child(1) {
    text-align: center;
    font-size: 17px;
    color: #042a73;
    font-weight: bold;
}

.news > .newsBox > .content > .news-content > p:nth-child(2) {
    float: right;
    font-size: 12px;
    color: #042a73;
}

.news > .newsBox > .content > .news-content > p:nth-child(4) {
    font-size: 13px;
    color: #666666;
}

.news > .newsBox > .content > .news-content > span {
    font-size: 14px;
    color: black;
}
#goBack {
    width: 78px;
    height: 78px;
    position: fixed;
    bottom:450px;
    right: 0;
}

.third{
    width: 400px;
    height: 260px;
    background: rgba(255, 255, 255, 0.22);
    position:absolute;
    top:190px;
    right: 30px;
    z-index: 2;

}
.second {
    width: 280px;
    height: 250px;
    /*background: #4a82e5;*/
    margin:0 auto;
    padding-top: 30px;position: relative;
    z-index: 2;
}
.four{
    width: 1400px;
    height: 400px;
    background: #4a82e5;
    margin: 120px auto;
}
.four img{
    width: 1400px;
    height: 400px;
}
.four-one{
    height: 50px;width: 800px;text-align: center;margin: -340px auto 0;
    color: white;font-size: 30px;
}
.four-two{
    height: 50px;width: 800px;text-align: center;margin: 20px auto 0;
    color: white;font-size: 20px;
}
.four .four-three{
    width: 1200px;
    margin: 20px   auto 0;
    /*background: #ffa500;*/
    height: 230px;display: flex;justify-content: space-around;

}
.four-four{
    width: 100px;
    height: 100px;border: 4px white solid;
    line-height: 100px;text-align: center;border-radius: 50px;
    font-size: 18px;color: white;
}