body, ul, li, p ,footer,header,html{
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    /*background: white;*/
    border-bottom: 2px solid #cfd4d3;
    z-index: 3;
}

.header-bar {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    /*background: #fff;*/
}

.bar-menu {
    float: right;
    font-size: 13px;
    line-height: 40px;
    display: inline-block;
    justify-content: space-around;
}
.bar-menu>a{
    text-decoration: none;
    color: #042a73;
}


.header-nav {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    /*background: #042a73;*/
}

.nav-logo {
    width: 250px;
    height: 60px;
    float: left;
    margin-top: -10px;
    /*background: yellow;*/
    color: #042a73;
    text-align: center;
    line-height: 60px;
}
.nav-logo img{
    width: 150px;
    height: 60px;
}
.nav-list {
    float: right;
    width: 800px;
    list-style: none;
    line-height: 60px;
}

.nav-list > li {
    /*padding: 11.6px 20px;*/
    display: inline-block;
    justify-content: space-between;
    line-height: 36px;
    box-sizing: border-box;
}

.nav-list > li > a {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.nav-list > li:hover{
    background: #ebebeb;
}


.drop_downs {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.drop_downs > .drop_down2 {
    width: 96px;
    height: 120px;
    background: #fff;
    position: absolute;
    margin-left: 472px;
    list-style: none;
    display: none;
}

.drop_downs > .drop_down2 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs li:hover{
    background: #ebebeb;
}
.drop_downs > .drop_down2 > li > a {
    padding: 15px;
    text-decoration: none;
    color: #042a73;
}

.drop_downs > .drop_down3 {
    width: 110px;
    height: 200px;
    background: #fff;
    position: absolute;
    margin-left: 574px;
    list-style: none;
    opacity: 1;
    display:none;
}

.drop_downs > .drop_down3 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs > .drop_down3 > li > a {
    padding: 15px;
    text-decoration: none;
    color: #042a73;
}

.drop_downs > .drop_down4 {
    width: 96px;
    height: 160px;
    background: #fff;
    position: absolute;
    margin-left: 689px;
    list-style: none;
    opacity: 1;
    display:none;
}

.drop_downs > .drop_down4 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs > .drop_down4 > li > a {
    padding: 15px;
    text-decoration: none;
    color: #042a73;
}

.drop_downs > .drop_down5 {
    width: 96px;
    height: 160px;
    background: #fff;
    position: absolute;
    margin-left: 790px;
    list-style: none;
    opacity: 1;
    display:none;
}

.drop_downs > .drop_down5 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs > .drop_down5 > li > a {
    padding: 15px;
    text-decoration: none;
    color: #042a73;
}


.drop_downs > .drop_down6 {
    width: 100px;
    height: 200px;
    background: #fff;
    position: absolute;
    margin-left: 888px;
    list-style: none;
    opacity: 1;
    display:none;
}

.drop_downs > .drop_down6 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs > .drop_down6 > li > a {
    padding: 20px 0;
    text-decoration: none;
    color: #042a73;
}

.drop_downs > .drop_down8 {
    width: 96px;
    height: 80px;
    background: #fff;
    position: absolute;
    margin-left: 1091px;
    list-style: none;
    opacity: 1;
    display:none;
}

.drop_downs > .drop_down8 > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.drop_downs > .drop_down8 > li > a {
    padding: 15px;
    text-decoration: none;
    color: #042a73;
}

footer {
    width: 100%;
    height: 150px;
    background: #042a73;
    position: absolute;
    bottom: 0;
    left: 0;
    /*margin-top: 20px;*/
}

.footerC {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    /*background: red;*/
}

.footerC > .logoBox {
    width: 100px;
    height: 100px;
    float: left;
    margin: 30px 50px;
    border: 1px solid #ebebeb;
    color: #fff;
    background: white;
}

.footerC > .logoBox img{
    width: 100px;
    height: 100px;
}

.footerC > .introduceBox {
    float: left;
    margin: 5px 100px;
}

.footerC > .introduceBox > p {
    color: #fff;
    font-size: 14px;
}

.footerC > .aboutUs {
    float: right;
    /*margin: 50px 100px;*/
margin-top: 50px;
    width: 200px;
    height: 50px;

}

.footerC > .aboutUs > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #fff;
}
#footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 80px;
    color: #ebebeb;
    background: #042a73;
}




